language: cpp

sudo: required
dist: trusty

compiler:
  - gcc
  - clang

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq cmake 

before_script:
  - mkdir build
  - cd build
  - cmake ..

script:
  - make
